bin/
obj/
dist/
*.user
.vs/
*.DotSettings.user
*.suo
.idea/
*.log
*.pdb
*.tmp
packages/
project.nuget.cache
Thumbs.db
desktop.ini
.DS_Store
graft/
launchSettings.json
TestResults/
installer/out/
/Superiorly.PostInstall-Setup-*.exe
Superiorly.PostInstall/Assets/Bundle/
node_modules/
RELEASES.md
THIRD-PARTY-NOTICES.md

